<div class= container>
  <h1>Restaurants: <%= @restaurant.name %></h1>
  <div class="row textright">
    <small> <%= "Address: #{@restaurant.address}/ Phone:#{@restaurant.phone_number}"%><br/>
  </div>
 <div class="textleft">
    <%= "Category : #{@restaurant.category}" %>
 </div>
 <br/>
  <%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit class: "btn btn-primary" %> 
<% end %>
 <h1>Review</h1>
  <div class=" text_right">
      <ul>
        <% @restaurant.reviews.each do |r|  %>
        <li class="card" >
          <%= r.content%><br/><small><%= "Rating: #{r.rating} " %> <br/> <%= link_to  "Back", restaurants_path %>
        </li>
        <% end %>
      </ul>
  </div>
</div>

